* {
  font-family: 'Nunito', sans-serif;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

.container2 {
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 500;
  background-color: #2f2f2f;
  flex-wrap: wrap;
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 500;
  background-color: white;
  flex-wrap: wrap;
}
.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  display: none;
}
.hamburger:focus {
  outline: none;
}

.imagelogo {
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.about-list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 2rem;
}
.about-list li a:hover {
  color: #ffc62b;
  transition: all 0.3s ease 0s;

}

li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5rem;
}

.about-list2 {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin-left: 35px;
  gap: 2rem;
}
.about-list2 li a:hover {
  color: #ffc62b;
  transition: all 0.3s ease 0s;

}

.about-list2 li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.5s;
}

.dark-light {
  color: white;
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.2rem;
  margin-top: 10px;
}
.dark-light a {
  text-decoration: none;
}

.dark-light .devicon-linkedin-plain:hover {
  color: #ffc62b;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  text-decoration: none;

}
.dark-light .devicon-linkedin-plain {
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.dark-light .devicon-github-original:hover {
  color: #ffc62b;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  text-decoration: none;

}
.dark-light .devicon-github-original {
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.dark-light2 {
  color: white;
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.2rem;
  margin-top: 10px;
}
.dark-light2 a {
  text-decoration: none;
}

.dark-light2 .devicon-linkedin-plain:hover {
  color: #ffc62b;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  text-decoration: none;

}
.dark-light2 .devicon-linkedin-plain {
  list-style-type: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.dark-light2 .devicon-github-original:hover {
  color: #ffc62b;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  text-decoration: none;

}
.dark-light2 .devicon-github-original {
  list-style-type: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.about-section {
  display: flex;
  color: white;
  justify-content: center;
  padding-left: 50px;
  font-size: 1.3rem;
  margin-top: 3rem;
}
.jose {
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: .5rem;
}
.hiThere {
  color: black;
}

.textAbout .description {
  font-weight: lighter;
}
.personLogo {
  margin-top: 3rem;
}
.btnStyle {
  border: none;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px 25px;
}
.btnStyle:hover {
  background-color: #ffa115;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.btnStyle a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.techStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 15rem;
  font-size: 1.5rem;
}
.techStack .first {
  color: #ffc62b;
}
.techStack .third {
  color: #ffc62b;
}
.projectTitle .first {
  color: #ffc62b;
}
.projectTitle .third {
  color: #ffc62b;
}
.contactTitle .first {
  color: #ffc62b;
}
.contactTitle .third {
  color: #ffc62b;
}

.techList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.2rem;
}
.techList2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 5rem;
  margin-top: 20px;
  margin-left: 10px;
}

.techTextLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.devicon-html5-plain {
  color: #e34c26;
  font-size: 5rem;
  transition: transform 0.5s ease;
}
.devicon-html5-plain:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.devicon-css3-plain {
  color: #2965f1;
  font-size: 5rem;
  transition: transform 0.5s ease;
}
.devicon-css3-plain:hover {
  transform: translateY(-5px);
  cursor: pointer;

}
.devicon-sass-original {
  color:  #cc6699;
  font-size: 5rem;
  transition: transform 0.5s ease;
}
.devicon-sass-original:hover {
  transform: translateY(-5px);
  cursor: pointer;

}
.devicon-javascript-plain {
  color: #F0DB4F;
  font-size: 5rem;
  transition: transform 0.5s ease;
}
.devicon-javascript-plain:hover {
  transform: translateY(-5px);
  cursor: pointer;

}
.devicon-react-original {
  color: #61DBFB;
  font-size: 5rem;
  transition: transform 0.5s ease;
}
.devicon-react-original:hover {
  transform: translateY(-5px);
  cursor: pointer;

}
.devicon-csharp-plain {
  color: purple;
  font-size: 5rem;
  transition: transform 0.5s ease; 
}
.devicon-csharp-plain:hover {
  transform: translateY(-5px);
  cursor: pointer;

}

.projectTitle {
  text-align: center;
  color: white;
  margin-top: 10rem;
  font-size: 1.5rem;
}


.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
  width: auto;
  height: auto;
}

.card1 {
  display: block;
  overflow: hidden;
  height: 700px;
  width: 700px;
  border-radius: 10px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  z-index: 100;
  background-color: #464646;

  transition: transform 0.4s;
}
.cards .card2 {
  display: block;
  overflow: hidden;
  height: 700px;
  width: 700px;
  border-radius: 10px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  z-index: 100;
  background-color: #464646;

  transition: transform 0.4s;
}

.cards .card3 {
  display: block;
  overflow: hidden;
  height: 700px;
  width: 700px;
  border-radius: 10px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  z-index: 100;
  background-color: #464646;

  transition: transform 0.4s;
}


.imageInside {
  display: block;
  padding: 40px;
  cursor: pointer;
}
.titleBtn {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.titleBtn h1 {
  color: #ffffff;

}
.textContent h3 {
  color: rgb(212, 212, 212);
}
.textContent2 h3 {
  color: rgb(212, 212, 212);
  
}
.textContent3 h3 {
  color: rgb(212, 212, 212);
  
}
.textContent4 h3 {
  color: rgb(212, 212, 212);
  
}
.btnStyleCode {
  border: none;
  border-radius: 8px;
  padding-left: 5px;
  font-size: 1.8rem;
  margin-top: .9rem;
  background-color: orange;
  color: black;
  font-weight: bolder;
}
.btnStyleCode:hover {
  cursor: pointer;
  background-color: #ffc62b;

}
.textContent {
  background-color: rgb(29, 29, 29);
  text-align: start;
  color: rgb(255, 255, 255);
}
.textContent h1 {
  padding-left: 10px;
  text-decoration: underline;
  text-underline-offset: .5rem;
}
.textContent h3 {
  padding-left: 10px;
  margin-top: -.5rem;
}
.textContentBtn {
  display: block;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  z-index: 200;
  cursor: pointer;
  padding-left: 10px;
}
.btnStyleNew {
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color: #020000b0;
  color: white;
  font-weight: bolder;
}


.fullWidth {
  margin-top: 4.2rem;
  width: 100%;
  padding: 5px;
  font-size: 1.5rem;
  border: none;
  background-color: #ffa32b;
  font-weight: bolder;
}
.fullWidth:hover {
  background-color: #f7c94b;
  cursor: pointer;
}

.card2 {
  height: 600px;
  width: 800px;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  z-index: 100;
  background-color: rgb(107, 107, 107);
  transition: transform 0.4s;
}

.textContent2 {
  background-color: rgb(29, 29, 29);
  text-align: start;
  color: white;
  margin-top: 3rem;
}
.textContent2 h1 {
  padding-left: 10px;
  text-decoration: underline;
  text-underline-offset: .5rem;
}
.textContent2 h3 {
  padding-left: 10px;
  margin-top: -.5rem;
}

.textContent2 .fullWidth {
  margin-top: 3rem;
}



.card3 {
  height: 600px;
  width: 800px;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  z-index: 100;
  background-color: rgb(107, 107, 107);
  transition: transform 0.4s;
}
.card3 .imageInside {
  margin-bottom: 1.5rem;
}
.card3 .fullWidth {
  margin-top: 3rem;
}

.textContent3 {
  background-color: rgb(29, 29, 29);
  text-align: start;
  color: white;
  margin-top: -2rem;
}
.textContent3 h1 {
  text-decoration: underline;
  text-underline-offset: .5rem;
  padding-left: 10px;
}
.textContent3 h3 {
  padding-left: 10px;
  margin-top: -.5rem;
}
.textContent3 .titleBtn {
  display: flex;
  align-items: center;
}
.textContent3 .fullWidth {
  margin-top: 3.5rem;
}


.textContent3 .githubStyle {
  border: none;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #ffc62b;
  padding: 8px;
  font-weight: bolder;
}


.card4 {
  display: block;
  overflow: hidden;
  height: 700px;
  width: 700px;
  border-radius: 10px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  z-index: 100;
  background-color: #464646;
  transition: transform 0.4s;
}
.textContent4 {
  background-color: rgb(29, 29, 29);
  text-align: start;
  color: white;
  margin-top: 4rem;
}
.textContent4 h1 {
  text-decoration: underline;
  text-underline-offset: .5rem;
  padding-left: 10px;
}
.textContent4 h3 {
  padding-left: 10px;
  margin-top: -.5rem;
}
.textContent4 .fullWidth {
  margin-top: 3rem;
}

.card5 {
  display: block;
  overflow: hidden;
  height: 700px;
  width: 700px;
  border-radius: 10px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  z-index: 100;
  background-color: #464646;
  transition: transform 0.4s;
}
.textContent5 {
  background-color: rgb(29, 29, 29);
  text-align: start;
  color: white;
  margin-top: 4rem;
}
.textContent5 h1 {
  text-decoration: underline;
  text-underline-offset: .5rem;
  padding-left: 10px;
}
.textContent5 h3 {
  padding-left: 10px;
  margin-top: -.5rem;
}
.textContent5 .fullWidth {
  margin-top: 3rem;
}


.contactTitle {
  text-align: center;
  color: white;
  margin-top: 5rem;
  font-size: 1.5rem;
}
.contactInfo {
  text-align: center;
  color: white;
  margin-top: 5rem;
  font-size: 1rem;
}


hr {
  margin-top: 10rem;
  width: 90%;
}

.contactLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-decoration: none;
  font-size: 3rem;
  margin-top: 2rem;
}
.interest h3 {
  text-decoration: underline;
  text-underline-offset: .4rem;
}

.contactLinks a {
  text-decoration: none;
}

.contactLinks .devicon-linkedin-plain:hover {
  color: #ffc62b;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  text-decoration: none;

}
.contactLinks .devicon-linkedin-plain {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.contactLinks .fas {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.contactLinks .fas:hover {
  color: #ffc62b;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  text-decoration: none;
}

.contactLinks .devicon-github-original:hover {
  color: #ffc62b;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  text-decoration: none;

}
.contactLinks .devicon-github-original {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

footer {
  padding: 5px;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: #fff;
  margin-top: 7rem;
}

.buttonColors2 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.btnStyle2 {
  border: none;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px;
  transition: transform 0.5s ease;
}
.btnStyle2:hover {
  background-color: #ffa115;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  transform: translateY(-5px);
}
.btnStyle2 a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}


.uiTitle {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.uiTitle h1 {
  font-weight: lighter;
}

.gallery1 {
  text-align: center;
  padding: 10px;
}
.gallery1 img {
  width: 200px;
  height: 450px;
  padding: 5px;
  margin: 20px;
  transition: 1s;
}
.gallery1 img:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.gallery2 {
  text-align: center;
  padding: 10px;
}
.gallery2 img {
  width: 300px;
  height: 450px;
  padding: 5px;
  margin: 20px;

  transition: 1s;
}
.gallery2 img:hover {
  transform: scale(1.02);
}
#feast-crew {
  width: 250px;
  height: 500px;
}
#estatedesign {
  width: 800px;
  height: 600px;
}
#bluetape {
  width: 400px;
}

.videography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 8rem;
  font-size: 1.5rem;
}
.videography h1 {
  font-weight: lighter;
}
.videography .videos {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

/* New Design Page */
.designLayout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 30px;
  min-height: calc(100vh - 40px);
  margin-top: -5rem;
}
.designCardsFirst {
 text-align: center;
}
.designCardsFirst img {
  width: 400px;
  height: 600px;
  padding: 10px;
  object-fit: cover;
}
.designCard1 {
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
}
.designCard1 img:hover {
  filter: brightness(50%);
  cursor: pointer;
  transition: all 0.3s ease 0s;

}
.designCard1:hover span.text-content {
  opacity: 1;
  
}
span.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: table;
  width: 150px;
  height: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
span.text-content span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


/* UI PAGE */
.card-sections {
  padding: 10px;
}
.orbitir {
  text-align: center;
  margin-top: 3rem;
  background-color: rgb(0, 0, 0);
  padding-top: 20px;
}
.orbitir #orbitScale {
  width: 1200px;

}
.orbitirText {
  font-size: 3rem;
  margin-bottom: 30px;
  color: white;
  font-weight: bolder;

}
.orbitirBtn {
  text-align: center;
  padding-bottom: 50px;
  
}
.orbitirBtn .btnFullScreen {
  color: rgb(255, 255, 255);
  background-color: rgba(211, 169, 115, 0.555);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 15px;
  margin-left: 1rem;
}
.orbitirBtn .btnFullScreen:hover {
  background-color: rgb(187, 129, 53);
}
.uiDescr {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2rem;
  color: white;
  margin-top: 50px;
  padding-bottom: 50px;
}
.uiTextFlex {
  display: flex;
  flex-direction: column;
}
.uiDescr h4 {
  font-weight: lighter;
  padding-left: 50px;
  padding-right: 30px;
}
#orbitirPhone {
  padding-right: 90px;
}


.treezu {
  text-align: center;
  margin-top: 3rem;
  background-color: #4A4A4A;
  padding-top: 20px;
}
.treezu #treezuScale {
  width: 1200px;
}
.treezuText {
  font-size: 3rem;
  margin-bottom: 30px;
  color: white;
  font-weight: bolder;
}
#treezuPhone {
  padding-right: 90px;
}

.feast-design {
  text-align: center;
  margin-top: 3rem;
  background-color: #FF7A00;
  padding-top: 20px;
}
.feast-design #feastScale {
  width: 1200px;
}
.feastText {
  font-size: 3rem;
  margin-bottom: 30px;
  color: white;
  font-weight: bolder;
}
#feastPhone {
  padding-right: 90px;
}

.models {  
}
.firstmodel {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.firstmodel h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.firstmodel img {
  padding: 10px;
}


.vid-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.vid-list h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}


@media (max-width: 1400px) { 
  .videos {
    transform: scale(.8);
  }
}

@media (max-width: 1250px) { 
  .orbitir #orbitScale {
    width: 1000px;
  }
  .treezu #treezuScale {
    width: 1000px;
  }
  .feast-design #feastScale {
    width: 1000px;
  }
  .uiDescr .uiTextFlex {
    font-size: 1.5rem;
  }
}

@media (max-width: 1215px) { 
  .images {
    gap: 1rem;
  }
}

@media (max-width: 1160px) { 
  .videography .videos{
    display: flex;
    flex-direction: column;
  }
  .photography .images {
    transform: scale(.8);
  }
 
}


@media (max-width: 1100px) { 
  br {
    display: none;
  }
}

@media (max-width: 1050px) { 
  .orbitir #orbitScale {
    width: 800px;
  }
  .treezu #treezuScale {
    width: 800px;
  }
  .feast-design #feastScale {
    width: 800px;
  }
}

@media (max-width: 900px) { 
  .photography .images {
    display: flex;
    flex-direction: column;
  }
  .images {
    margin-top: -5rem;
  }
  .videography {
    margin-top: -2rem;
  }
  .uiDesign .uiImages {
    transform: scale(.9);
  }
  .uiImages2 #tovarEstate1 {
    transform: scale(.8);
  }
}

@media (max-width: 870px) {
  #estatedesign {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 850px) {
  .description {
    font-size: 1.5rem;
  }
  .personLogo {
    transform: scale(.7);
  }
  .devicon-html5-plain {
    font-size: 3rem;
  }
  .devicon-javascript-plain {
    font-size: 3rem;

  }
  .devicon-sass-original {
    font-size: 3rem;

  }
  .devicon-react-original {
    font-size: 3rem;

  }
  .devicon-css3-plain {
    font-size: 3rem;

  }
  .devicon-csharp-plain {
    font-size: 3rem;

  }
  .techList2 {
    font-size: 13px;
    gap: 4.6rem;
  }

  .orbitir #orbitScale {
    width: 600px;
  }
  .treezu #treezuScale {
    width: 600px;
  }
  .feast-design #feastScale {
    width: 600px;
  }
  .uiDescr .uiTextFlex {
    font-size: 1.2rem;
  }
  .uiDescr #orbitirPhone {
    transform: scale(.8);
    margin-left: 5.5rem;
  }
  .uiDescr #treezuPhone {
    transform: scale(.8);
    margin-left: 5.5rem;

  }
  .uiDescr #feastPhone {
    transform: scale(.8);
    margin-left: 5.5rem;

  }
  .uiDescr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 790px) {
  .uiDesign .uiImages {
    display: flex;
    flex-direction: column;
    transform: scale(1);
  }
}

@media (max-width: 709px) {
  .dark-light {
    display: none;
  }
  .about-list {
    text-align: center;
    margin-right: 4rem;
  }
  .card1 {
    height: 500px;
    width: 500px;
  }
  .textContent {
    margin-top: -1rem;
  }
  .textContent h1 {
    font-size: 1rem;
    text-underline-offset: .2rem;
  }
  .textContent h3 {
    font-size: .8rem;
  }
  .cards .card2 {
    height: 500px;
    width: 500px;
  }
  .textContent2 {
    margin-top: .5rem;
  }
  .textContent2 h1 {
    font-size: 1rem;
    text-underline-offset: .2rem;
  }
  .textContent2 h3 {
    font-size: .8rem;
  }

  .cards .card3 {
    height: 500px;
    width: 500px;
  }
  .textContent3 {
    margin-top: .5rem;
  }
  .textContent3 h1 {
    font-size: 1rem;
    text-underline-offset: .2rem;
  }
  .textContent3 h3 {
    font-size: .8rem;
  }

  .cards .card4 {
    height: 500px;
    width: 500px;
  }
  .textContent4 {
    margin-top: 1.2rem;
  }
  .textContent4 h1 {
    font-size: 1rem;
    text-underline-offset: .2rem;
  }
  .textContent4 h3 {
    font-size: .8rem;
  }
}

@media (max-width: 700px) {
  .textAbout .jose {
    font-size: 1rem;
  }
  .btnStyle{
    font-size: .6rem;
  }
  .uiImages2 #tovarEstate1 {
    transform: scale(.6);
  }
}

@media (max-width: 650px) { 
  .orbitir #orbitScale {
    width: 350px;
  }
  .treezu #treezuScale {
    width: 350px;
  }
  .feast-design #feastScale {
    width: 350px;
  }
  .btnFullScreen {
    margin-left: 2rem;
  }
}

@media (max-width: 600px) { 
  .description {
    font-size: 1.2rem;
  }
  .personLogo {
    display: none;
  }
  .devicon-html5-plain {
    font-size: 2rem;
  }
  .devicon-javascript-plain {
    font-size: 2rem;

  }
  .devicon-sass-original {
    font-size: 2rem;

  }
  .devicon-react-original {
    font-size: 2rem;

  }
  .devicon-css3-plain {
    font-size: 2rem;

  }
  .devicon-csharp-plain {
    font-size: 2rem;

  }
  .about-list li a {
    font-size: 1rem;
  }
  .about-list {
    display: none;
    width: 100%;
    margin-left: 5rem;
  }
  .about-list2 {
    margin-left: -20px;
    padding-right: 10px;
  }
  
  .dark-light2 {
    display: none;
  }
  .about-list.show {
    display: flex;
  }
  .hamburger {
    display: block;
  }
  .videography .videos {
    transform: scale(.8);
  }
  .uiImages2 #tovarEstate {
    transform: scale(.8);
  }
  .uiImages2 #starWars {
    transform: scale(.8);
  }
  .uiImages2 #tovarEstate1 {
    transform: scale(.4);
  }
  .techList2 {
    font-size: 10px;
    gap: 4.3rem;
  }
  .vidScale {
    transform: scale(.7);
  }
}

@media (max-width: 570px) {
  #estatedesign {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 500px) { 
  .card1 {
    height: 350px;
    width: 350px;
  }
  .textContent {
    margin-top: -1rem;
  }
  .textContent h1 {
    font-size: .8rem;
    text-underline-offset: .2rem;
  }
  .textContent h3 {
    font-size: .6rem;
  }
  .textContentBtn {
    font-size: 1rem;
    color: white;
  }
  .textContentBtn .btnStyleNew {
    font-size: 1rem;
    color: white;
  }
  .textContent .fullWidth {
    font-size: .7rem;
    margin-top: .1rem;
    color: black;
  }
  .cards .card2 {
    height: 350px;
    width: 350px;
  }
  .textContent2 {
    margin-top: -2rem;
  }
  .textContent2 h1 {
    font-size: .8rem;
    text-underline-offset: .2rem;
  }
  .textContent2 h3 {
    font-size: .6rem;
  }
  .textContent2 .fullWidth {
    font-size: .7rem;
    margin-top: 3rem;
    color: black;
  }

  .cards .card3 {
    height: 350px;
    width: 350px;
  }
  .textContent3 {
    margin-top: -2rem;
  }
  .textContent3 h1 {
    font-size: .8rem;
    text-underline-offset: .2rem;
  }
  .textContent3 h3 {
    font-size: .6rem;
  }
  .textContent3 .fullWidth {
    font-size: .7rem;
    margin-top: 3rem;
    color: black;

  }

  .cards .card4 {
    height: 350px;
    width: 350px;
  }
  .textContent4 {
    margin-top: -2rem;
  }
  .textContent4 h1 {
    font-size: .8rem;
    text-underline-offset: .2rem;
  }
  .textContent4 h3 {
    font-size: .6rem;
  }
  .textContentBtn .btnStyleNew {
    font-size: .5rem;

  }
  .textContent4 .fullWidth {
    font-size: .7rem;
    margin-top: 2.5rem;
    color: black;

  }

  .techList {
    gap: 2rem;
    transform: scale(1.1);
  }

  .videography .videos {
    transform: scale(.7);
  }
  .buttonColors2 .btnStyle2 {
    font-size: 1.5rem;
  }
  .techList2 {
    font-size: 10px;
    gap: 2.7rem;
  }

  #bluetape {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 450px) { 
  .about-list li a {
    font-size: .7rem;
  }
  .imagelogo {
    transform: scale(.7);
  }
  .projectTitle {
    font-size: 1rem;
  }
  .techStack .title {
    font-size: 1rem;
  }
  .uiImages2 #tovarEstate {
    transform: scale(.6);
    gap: 1px;
  }
  .uiImages2 #starWars {
    transform: scale(.6);
    gap: 1px;
  }
  .uiImages2 {
    gap: 1px;
  }
}

@media (max-width: 400px) { 
  .contactLinks .interest {
    font-size: .5rem;
  }
  .contactLinks {
    font-size: 2rem;
  }
  .videography .videos {
    transform: scale(.5);
    margin-top: -5rem;
  }
  .designCardsFirst {
    transform: scale(.8);
    margin-top: -30px;
  }
  .orbitir #orbitScale {
    width: 300px;
  }
  .treezu #treezuScale {
    width: 300px;
  }
  .feast-design #feastScale {
    width: 300px;
  }
  .vidScale {
    transform: scale(.5);
    margin-top: -50px;
  }
  .vid-list h4 {
    font-size: 1rem;
  }
}

@media (max-width: 365px) { 
  .about-list {
    margin-left: 4rem;
  }
  #bluetape {
    width: 250px;
    height: 250px;
  }
  #estatedesign {
    width: 250px;
    height: 200px;
  }

}

@media (max-width: 340px) { 
  .designCardsFirst {
    transform: scale(.7);
    margin-top: -8rem;
  }
}